body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-image {
    width: 100%;
    height: 120vh;       
    background-image: url('./fall.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.bg-image h1{
    font-size: 3rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120vh;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
}

.container{
    padding: 100px;
}

.container h1{
    font-size: 3rem;
}

p{
    color: rgb(70, 70, 70);
}

@media screen and (max-width: 600px) {
    .container{
        padding: 50px;
    }

    .bg-image h1{
        font-size: 2.2rem;
    }
    
}